Repository olivershe/trato-hive: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location .eslintcache

fix(infra): resolve GitHub Actions workflow failures
  .github/workflows/notion-sync.yml
  packages/shared/tsconfig.json
Due: prettier --write

fix(shared): remove unused type imports from test file
  packages/shared/tests/types.test.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

fix(db): add postinstall script to generate Prisma Client
  packages/db/package.json
Due: prettier --write

fix(db): ensure Prisma Client is generated before typecheck
  packages/db/package.json
Due: prettier --write

fix(db): ensure Prisma Client is generated before build
  packages/db/package.json
Due: prettier --write

fix(db): use default Prisma Client output location
  packages/db/prisma/schema.prisma
Due: none

fix(infra): resolve Prisma CI pipeline race condition with pnpm monorepo
  .github/workflows/ci.yml
  .npmrc
  packages/db/package.json
  tsconfig.json
Due: prettier --write

fix(infra): set module to Node16 to match moduleResolution
  tsconfig.json
Due: prettier --write

fix(infra): revert to bundler moduleResolution, rely on .npmrc hoisting
  tsconfig.json
Due: prettier --write

feat(shared): [TASK-002] implement zod validators
  PROJECT_STATUS.md
  packages/shared/src/validators.ts
  packages/shared/src/validators/common.ts
  packages/shared/src/validators/company.ts
  packages/shared/src/validators/deal.ts
  packages/shared/src/validators/document.ts
  packages/shared/src/validators/index.ts
  packages/shared/src/validators/user.ts
  packages/shared/tests/validators.test.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(shared): [TASK-003] implement utilities
  PROJECT_STATUS.md
  packages/shared/src/utils.ts
  packages/shared/src/utils/async.ts
  packages/shared/src/utils/currency.ts
  packages/shared/src/utils/date.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/number.ts
  packages/shared/src/utils/string.ts
  packages/shared/tests/utils.test.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(shared): [TASK-004] implement constants
  PROJECT_STATUS.md
  packages/shared/src/constants/api.ts
  packages/shared/src/constants/fact.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/constants/pipeline.ts
  packages/shared/src/constants/user.ts
  packages/shared/src/index.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

test(shared): [TASK-005] setup vitest coverage and meet threshold
  PROJECT_STATUS.md
  packages/shared/package.json
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

chore: add Context7 MCP server configuration
  .gitignore
  .mcp.json
Due: prettier --write

chore(deps): update pnpm lockfile for Next.js dependencies
  pnpm-lock.yaml
Due: prettier --write

feat: Introduce initial database seeding and a completed work archive, updating project documentation and agent workflows.
  .agent/workflows/finish-task.md
  .agent/workflows/start-task.md
  CLAUDE.md
  COMPLETED_WORK.md
  PROJECT_STATUS.md
  docs/db Implementation
  packages/db/prisma/seed.ts
  packages/db/prisma/seed/companies.ts
  packages/db/prisma/seed/deals.ts
  packages/db/prisma/seed/documents.ts
  packages/db/prisma/seed/facts.ts
  packages/db/prisma/seed/firms.ts
  packages/db/prisma/seed/users.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat: introduce and integrate Block Protocol for dynamic content management and page rendering across the application.
  CLAUDE.md
  PROJECT_STATUS.md
  Trato Hive Product & Design Specification.md
  docs/architecture/7-layer-architecture.md
  docs/architecture/data-plane.md
  features/command-center/CLAUDE.md
  features/deals/CLAUDE.md
  packages/db/CLAUDE.md
  packages/ui/CLAUDE.md
Due: prettier --write

feat: implement NextAuth v5 authentication package with OAuth, tRPC integration, and RBAC utilities.
  .env.example
  PROJECT_STATUS.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/trpc/context.ts
  apps/api/src/trpc/init.ts
  apps/api/src/trpc/router.ts
  packages/auth/README.md
  packages/auth/src/auth.config.ts
  packages/auth/src/auth.ts
  packages/auth/src/config.ts
  packages/auth/src/index.ts
  packages/auth/src/providers/saml.ts
  packages/auth/src/types.ts
  packages/auth/src/utils.ts
  packages/auth/tests/rbac.test.ts
  packages/auth/tests/setup.ts
  packages/auth/vitest.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

[TASK-013a] feat(db): implement Block Protocol schema foundation
  packages/db/prisma/migrations/20251224220241_block_protocol_init/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  packages/db/prisma/seed/pages.ts
  packages/db/test-block-queries.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

[TASK-013a] docs: update PROJECT_STATUS.md for Phase 6.4 completion
  PROJECT_STATUS.md
  plan.md
Due: prettier --write

feat: Plan and document block-based content editor implementation using Novel/Tiptap.
  PROJECT_STATUS.md
  apps/web/CLAUDE.md
  context/design-principles.md
  docs/architecture/7-layer-architecture.md
  docs/architecture/experience-layer.md
  packages/ui/CLAUDE.md
Due: prettier --write

feat: [TASK-014] initialize novel/tiptap editor and design tokens
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/foundation.test.ts
  apps/web/src/lib/utils.ts
  apps/web/src/styles/globals.css
  apps/web/tsconfig.json
  packages/ui/src/foundation.test.ts
  packages/ui/src/index.css
  packages/ui/src/index.ts
  packages/ui/src/tokens/colors.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat: Introduce block-based content editing with Novel/Tiptap, update frontend architecture, and refine project status for Phase 7.
  PROJECT_STATUS.md
Due: prettier --write

feat(web): implement Block Editor core and M&A slash menu [TASK-015]
  apps/web/package.json
  apps/web/src/app/editor-test/page.tsx
  apps/web/src/components/editor/BlockEditor.tsx
  apps/web/src/components/editor/CommandListRenderer.tsx
  apps/web/src/components/editor/SlashCommand.tsx
  apps/web/src/components/editor/extensions.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

docs: update project status to reflect completion of Block Editor Core (TASK-015) and overall progress.
  PROJECT_STATUS.md
Due: prettier --write

feat(web): implement content persistence sync via tRPC [TASK-016]
  PROJECT_STATUS.md
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routers/block.ts
  apps/api/src/trpc/context.ts
  apps/api/src/trpc/router.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/src/app/editor-test/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/editor/BlockEditor.tsx
  apps/web/src/components/editor/extensions.ts
  apps/web/src/hooks/useBlockSync.test.ts
  apps/web/src/hooks/useBlockSync.ts
  apps/web/src/trpc/provider.tsx
  apps/web/src/trpc/react.tsx
  packages/db/seed-test-page.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

docs: add guideline for using web search for up-to-date code research in the start-task workflow.
  .agent/workflows/start-task.md
Due: prettier --write

feat(web): add CitationBlock extension [TASK-017]
  PROJECT_STATUS.md
  apps/web/package.json
  apps/web/src/components/editor/SlashCommand.tsx
  apps/web/src/components/editor/extensions.ts
  apps/web/src/components/editor/extensions/CitationBlock.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(web): add DealHeader and ActivityTimeline blocks [TASK-018]
  PROJECT_STATUS.md
  apps/web/src/components/editor/SlashCommand.tsx
  apps/web/src/components/editor/extensions.ts
  apps/web/src/components/editor/extensions/ActivityTimelineBlock.tsx
  apps/web/src/components/editor/extensions/DealHeaderBlock.tsx
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat: Add multiple deal views (Kanban, Table, Timeline, Calendar, Analytics) with a new ViewContext and a DealDatabaseBlock editor extension.
  PROJECT_STATUS.md
  apps/web/package.json
  apps/web/src/components/editor/SlashCommand.tsx
  apps/web/src/components/editor/extensions.ts
  apps/web/src/components/editor/extensions/DealDatabaseBlock.tsx
  apps/web/src/components/views/AnalyticsView.tsx
  apps/web/src/components/views/CalendarView.tsx
  apps/web/src/components/views/KanbanView.tsx
  apps/web/src/components/views/TableView.tsx
  apps/web/src/components/views/TimelineView.tsx
  apps/web/src/components/views/ViewContext.test.tsx
  apps/web/src/components/views/ViewContext.tsx
  apps/web/src/components/views/ViewSwitcher.tsx
  apps/web/src/components/views/mock-data.ts
  apps/web/src/hooks/useBlockSync.test.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(web): implement Block Protocol Renderer (TASK-019)
  apps/web/src/app/deal-test/[id]/page.tsx
  apps/web/src/components/document/renderer/BlockRenderer.tsx
  apps/web/src/components/document/renderer/CitationBlock.tsx
  apps/web/src/components/document/renderer/DealHeaderBlock.tsx
  apps/web/src/components/document/renderer/HeadingBlock.tsx
  apps/web/src/components/document/renderer/KanbanBlock.tsx
  apps/web/src/components/document/renderer/ListBlock.tsx
  apps/web/src/components/document/renderer/TextMessage.tsx
  packages/db/src/index.ts
  packages/db/src/queries.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

docs(project-status): mark Block Protocol Renderer task as complete and update overall progress.
  PROJECT_STATUS.md
Due: prettier --write

feat(web): implement UI Polish (Drag Handle, Bubble Menu) [TASK-020]
  apps/web/package.json
  apps/web/src/components/editor/BlockEditor.tsx
  apps/web/src/components/editor/EditorBubbleMenu.tsx
  apps/web/src/components/editor/drag-handle.css
  apps/web/src/components/editor/extensions.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(web): implement Advanced UI Polish (Hexagon Spinner, Slash Command) [TASK-020]
  apps/web/src/components/editor/CommandListRenderer.tsx
  apps/web/src/components/editor/EditorBubbleMenu.tsx
  apps/web/src/components/editor/SlashCommand.tsx
  apps/web/src/components/editor/extensions.ts
  apps/web/src/components/ui/HexagonSpinner.tsx
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(web): implement Extended UI Polish (Active Focus, Save Animation) [TASK-020-round2]
  apps/web/package.json
  apps/web/src/components/editor/BlockEditor.tsx
  apps/web/src/components/editor/BlockEditorSkeleton.tsx
  apps/web/src/components/editor/active-block-notes.css
  apps/web/src/components/editor/active-block.css
  apps/web/src/components/editor/extensions.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

fix(web): resolve type errors in editor components
  PROJECT_STATUS.md
  apps/web/src/components/editor/EditorBubbleMenu.tsx
  apps/web/src/components/editor/SlashCommand.tsx
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(collaboration): implement task-021 liveblocks provider and presence
  PROJECT_STATUS.md
  apps/web/package.json
  apps/web/src/app/api/liveblocks-auth/route.ts
  apps/web/src/components/collaboration/ActiveUsers.tsx
  apps/web/src/components/collaboration/CollaborationProvider.tsx
  apps/web/src/components/editor/BlockEditor.tsx
  apps/web/src/components/editor/EditorBubbleMenu.tsx
  apps/web/src/components/editor/SlashCommand.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(TASK-023): Add Playwright E2E tests and fix build issues
  PROJECT_STATUS.md
  apps/web/e2e/auto-save.spec.ts
  apps/web/e2e/editor.spec.ts
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/src/app/e2e-test/page.tsx
  apps/web/src/components/editor/EditorBubbleMenu.tsx
  apps/web/src/components/editor/SimpleEditor.tsx
  apps/web/src/components/editor/extensions.ts
  apps/web/src/components/views/KanbanView.tsx
  apps/web/src/components/views/ViewSwitcher.tsx
  apps/web/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

feat(api): implement Phase 8 backend - Deals API with tests [TASK-024-029]
  apps/api/src/index.ts
  apps/api/src/routers/block.ts
  apps/api/src/routers/deals.test.ts
  apps/api/src/routers/deals.ts
  apps/api/src/services/activity.service.ts
  apps/api/src/services/deals.service.test.ts
  apps/api/src/services/deals.service.ts
  apps/api/src/services/index.ts
  apps/api/src/tests/setup.ts
  apps/api/src/trpc/router.ts
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
  packages/auth/src/auth.ts
  packages/shared/src/validators/deal.ts
Due: prettier --write, eslint --fix --cache --cache-location .eslintcache

docs: update PROJECT_STATUS.md for Phase 8 completion
  PROJECT_STATUS.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache --cache-location .eslintcache: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
